@import "tailwindcss";


:root {
    --font-inter: 'Inter', sans-serif;
    --bg-primary: #000000;

    --header: #0f172a;

    --text-primary: #ffffff;
    --text-secondary: #9ca3af;

    --text-link: #2563eb;
    --text-link-clicked: #1d4ed8;
}

* {
    box-sizing: border-box;
    font-family: var(--font-inter);

}

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;

    background-color: var(--bg-primary);
    color: var(--text-primary);

}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}


p {
    color: var(--text-secondary)
}

span {
    color: var(--text-link);
}

ol {
    padding-left: 2rem;
    list-style: decimal;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

.custom-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
    scrollbar-width: thin;
    scrollbar-color: var(--text-link-clicked) transparent;
}