@import "tailwindcss";


:root {
    --font-inter: 'Inter', sans-serif;

    --bg-primary: #000000de;

    --header: hsla(225deg, 15%, 9%, 1);

    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
    /* --text-paragraph: #e2e8f0; */

    --text-link: #2563eb; 
    --text-link-clicked: #1d4ed8; 
}

* {
    box-sizing: border-box;
    font-family: var(--font-inter);
    
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-primary);
    color: var(--text-primary);

}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

 
p {
    color: var(--text-secondary)
}

span {
    color: var(--text-link);
}

.pages {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;

}

